{% extends 'frontend/base.html' %}

{% load static %}
{% block intro%}
<div class="container">

      <div class="intro-img">
        <img src="{% static 'frontend/img/Manager-01.svg' %}" alt="" class="img-fluid">
      </div>

      <div class="intro-info">
        <h2>We automate <br><span>your loans  </span><br>treatments!</h2>
        <div>
          <a href="/" class="btn-get-started scrollto">Get Started</a>
          <a href="#services" class="btn-services scrollto">Our Services</a>
        </div>
      </div>

    </div>
{%endblock%}
{%block content%}

<!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Prediction</h3>
          <p>Here you must click on the predict button to have the result of the analysis of the data extracted from the financial statement of the company.</p>
        </header>

        <div class="row">
 {% if d %}   
    {% for i in d %}
          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
             
            <div class="box">
              <div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>

              <h4 class="title"><a href="">{{i.Entreprise}}</a></h4>
              <p class="description">
                Year : {{i.Annee}}</br>
                Equities and liabilities : {{i.TCPP}}</br>
                Total Assets : {{i.TActif}}</br>
                Equity : {{i.CapitalPropre}}</br>
                Non-current liabilities : {{i.PassifNonC}}</br>
                Total liabilities : {{i.TPassif}}</br>
                Current liabilities : {{i.PassifCourant}}</br>
                Non-current assets : {{i.ActifNonC}}</br>
                Current assets : {{i.ActifCourant}}</br>
                Reserves : {{i.Reserves}}</br>
                Share capital : {{i.CapitalSociale}}</br>
                Exploitation Product : {{i.TProdExploitation}}</br>
                Operating Expenses : {{i.TChargeExploitation}}</br>
                Operating Result : {{i.R_Exploitation}}</br>
                Net Income : {{i.Res_Exsercice}}</br>
                Ordinary Activities :{{i.ActiviteOrdinaire}}</br>
                Endowment : {{i.Dotation}}</br>

                Cash at the start :{{i.TDebut}}</br>
                Cash at the end : {{i.TFin}}</br>
                Variation : {{i.Variation}}</br>
                                                
            </p>
            </div>
          </div>
         
             {% endfor %} 
  
   {% else%}
   <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
  <!-- ajouter un formulaire -->
   <div class="box">
<center>
  <h2>Add other fields!</h2>
  
  {%if submitted%}
    Your fields were added succefully!

  {%else%}
  
  <form action="" method=POST>
    {% csrf_token %}

  
       {{form.as_p}}   
  
   <br/></br>
   <input type="submit" value="Submit" class="btn btn-primary btn-lg ">        
</form>

  {% endif %}
 
      
</center>
</div>
   </div>
     {% endif %}
    <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-bookmarks-outline" style="color: #e9bf06;"></i></div>
              <h4 class="title"><a href="">Company status</a></h4>
              <p class="description">This Company is  {{result}}</p>
            </div>
             <a href="/extraction/prediction" class="btn btn-primary btn-lg " role="button" >predict</a>
          </div>
          </div>

       

        </div>

      </div>
    </section><!-- #services -->

 

{%endblock%}