{% extends 'frontend/base.html' %}
{% load static %}
{% block intro%}
<div class="container">

      <div class="intro-img">
        <img src="{% static 'frontend/img/2.png' %}" alt="" class="img-fluid">
      </div>

      <div class="intro-info">
        <h2>We automate <br><span>your loans  </span><br>treatments!</h2>
        <div>
          <a href="/" class="btn-get-started scrollto">Get Started</a>
          <a href="#services" class="btn-services scrollto">Our Services</a>
        </div>
      </div>

    </div>
{%endblock%}
{%block content%}


<!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>STEP TWO</h3>
          <p>At this step click on the clipping button</p>
        </header>

 <div class="row about-extra">
          <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
            <img src="{% static 'frontend/img/about-extra-2.svg' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
            <h4>Page clipping</h4>
            <p>
             Our system in this part analyzes your documents and extracts only the pages containing the desired financial information. 
            </p>
           
            
            <form action="func_page_to_keep" id="cp">
                   {% csrf_token %}
            <input type="submit" name="decoupage" class="btn btn-primary btn-lg " style="margin: 0; float: left;" value="Clipping">
      </form>

          </div>
          
        </div>
 </section><!-- #about -->




{% endblock%}