{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>NewBiz Bootstrap Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'frontend/img/favicon.png'%}" rel="icon">
  <link href="{% static 'frontend/img/apple-touch-icon.png'%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'frontend/lib/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'frontend/lib/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet">
  <link href="{% static 'frontend/lib/animate/animate.min.css" rel="stylesheet'%}">
  <link href="{% static 'frontend/lib/ionicons/css/ionicons.min.css'%}" rel="stylesheet">
  <link href="{% static 'frontend/lib/owlcarousel/assets/owl.carousel.min.css'%}" rel="stylesheet">
  <link href="{% static 'frontend/lib/lightbox/css/lightbox.min.css'%}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'frontend/css/style.css'%}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: NewBiz
    Theme URL: https://bootstrapmade.com/newbiz-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>



<body>

  <!--==========================
  Header
  ============================-->
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
        <a href="#intro" class="scrollto"><img src="{% static 'frontend/img/logo.png'%}" alt="" class="img-fluid"></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="/table">Dashboard</a></li>
          <li><a href="{% url 'logout' %}">Logout</a>
          {% if request.user.is_staff %}
          <li><a href="{% url 'register' %}" class="ml-2">Sign Up</a></li>
         {% endif %}
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
      {% block headDashboard%}
      {% endblock %}
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
       {% block intro%}



 

 
         {% endblock %}
  </section><!-- #intro -->



{%block content%}



{% endblock %}


  <!--==========================
    Footer
  ============================-->

 
  <footer id="footer">
      

 

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <h3>IntelFin</h3>
            <p>Development of a credit scoring engine using data.Restitution of interactive dashboards for decision making.Classifying a company into vulnerable or no
</p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Ariana,Ghazela <br>
             Tunis, tn 535022<br>
              Tunisia <br>
              <strong>Phone:</strong> +216 95 54 88 55<br>
              <strong>Email:</strong> intelfin@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Enter your email to receive our updates and information.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit"  value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>IntelFin</strong>. All Rights Reserved
      </div>
     
    </div>

  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="{% static 'frontend/lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'frontend/lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'frontend/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'frontend/lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'frontend/lib/mobile-nav/mobile-nav.js' %}"></script>
  <script src="{% static 'frontend/lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'frontend/lib/waypoints/waypoints.min.js' %}"></script>
  <script src="{% static 'frontend/lib/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'frontend/lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'frontend/lib/isotope/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'frontend/lib/lightbox/js/lightbox.min.js' %}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{% static 'frontend/contactform/contactform.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'frontend/js/main.js' %}"></script>

</body>
</html>
